.App {
  text-align: center;
}

.App-header {
  background-image: radial-gradient(circle, #051937, #0f2546, #193256, #223f66, #2c4d77);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Top-nav {
  background-color: #ff6e29;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-left: 5px;
}

.Button-nav {
  height: 43px;
  background-color: #ff6e29;
  display: inline-block;
  text-align: center;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
}

.Start-button {
  font-size: 22px;
  background-color: Transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
}

.New-game-button {
  font-size: 32px;
  background-color: Transparent;
  color: white;
  border: none;
  padding: 30px 15px;
  border-radius: 8px;
  outline: none;
}

.Stats-table{
  padding: 25px
}

.App-link {
  height: 43px;
  background-color: #ffd460;
  display: inline-block;
  text-align: center;
  padding-bottom: 2px;
  border: none;
  color: black;
  font-size: 18px;
}
